<section class="py-5">
  <div class="container-fluid">
    <input
      id="sarchInner"
      (keyup)="search($event)"
      type="search"
      class="form-control cr mt-5 w-75 mx-auto"
      placeholder="{{
        'navbar.Search By Meal Name' | translate
      }}..............."
    />
    <section class="py-1 text-center">
      <div class="title py-3"></div>
      <div class="content container-fluid">
        <div class="row g-4">
          @for (iteam of allSearchData; track $index) {
          <div
            [routerLink]="['/details', iteam.idMeal]"
            (click)="hidemodal()"
            class="col-sm-6 col-lg-3 col-xl-2"
          >
            <div
              class="rounded border border-danger-subtle p-3 bg-main shadow h-100"
            >
              <img
                src="{{ iteam.strMealThumb }}"
                class="w-100 rounded"
                alt="{{ iteam.strMeal }}"
              />

              <h3 class="h4 sec-color my-2">
                {{ iteam.strMeal }}
              </h3>
            </div>
          </div>
          }
        </div>
      </div>
    </section>
  </div>
</section>
