<section
  class="home d-flex align-items-center justify-content-center text-center"
>
  <div
    class="container-fluid home-content bg-main-glassy rounded-5 py-5 border border-danger-subtle"
  >
    <div class="box-h1 rounded-5">
      <h1 class="mb-3 p-3">
        <b>{{ "home.Chefs Training Academy" | translate }}</b>
      </h1>
    </div>
    <h2
      routerLink="/DiplopmaDates"
      class="my-4 text-light text-decoration-underline"
      [class.text-end]="!LangText()"
      [class.text-start]="LangText()"
    >
      {{ "home.Exam Date After" | translate }} :
    </h2>
    <div class="row g-2">
      <div class="col-3">
        <div
          class="border border-danger-subtle rounded py-3 bg-main-dark sec-color"
        >
          <h6 id="day">{{ day }}</h6>
          <h6 class="wordy">{{ "home.Day" | translate }}</h6>
        </div>
      </div>
      <div class="col-3">
        <div
          class="border border-danger-subtle rounded py-3 bg-main-dark sec-color"
        >
          <h6 id="hour">{{ hour }}</h6>
          <h6 class="wordy">{{ "home.Hour" | translate }}</h6>
        </div>
      </div>
      <div class="col-3">
        <div
          class="border border-danger-subtle rounded py-3 bg-main-dark sec-color"
        >
          <h6 id="mint">{{ mint }}</h6>
          <h6 class="wordy">{{ "home.Mint" | translate }}</h6>
        </div>
      </div>
      <div class="col-3">
        <div
          class="border border-danger-subtle rounded py-3 bg-main-dark sec-color"
        >
          <h6 id="sec">{{ sec }}</h6>
          <h6 class="wordy">{{ "home.Sec" | translate }}</h6>
        </div>
      </div>
    </div>
    <p
      class="words mt-4 wish-prag"
      [class.text-end]="LangText()"
      [class.text-start]="!LangText()"
    >
      {{ "home.Wish You Good Luck" | translate }}
      <i class="fa-solid fa-heart"></i>....
    </p>
  </div>
</section>
