<div class="py-5 overflow-hidden">
  <section>
    <div class="container-fluid text-center">
      <div class="title">
        <h2 class="text-center py-5 sec-color text-decoration-underline">
          {{ "diploma.Diploma Dates 2025" | translate }}
        </h2>
      </div>
      <div class="row text-light">
        <div class="col-sm-6 col-lg-3 height-date mb-3">
          <div
            class="bg-1 pb-5 rounded border border-white shadow-lg dates h-100 overflow-hidden"
          >
            <button
              type="button"
              class="mb-5 bg-danger w-100 rounded-2 text-light border border-danger py-1 fs-4"
            >
              {{ "diploma.Registeration Deadline Has Ended" | translate }}
            </button>
            <h5 class="my-3">
              <span class="span-h3 px-1 py-5 rounded">{{
                "diploma.First" | translate
              }}</span>
            </h5>
            <p>
              <span>{{ "diploma.Start" | translate }} : </span
              ><i class="mx-1 fa-solid fa-calendar-days"></i
              >{{ "diploma.1 january,2025" | translate }}
            </p>
            <p>
              <span>{{ "diploma.Duration" | translate }} : </span>
              {{ "diploma.2 months" | translate }}
            </p>
            <p>
              <span>{{ "diploma.Exam Date" | translate }} : </span
              ><i class="mx-1 fa-solid fa-calendar-days"></i
              >{{ "diploma.5 march,2025" | translate }}
            </p>
            <p class="fs-4 yellow">
              {{ "diploma.Ramdan Karim" | translate }}
              <img
                width="110px"
                class="rounded-circle"
                src="./assets/images/ramadan.png"
                alt="Ramdan Karim image"
              />
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 height-date mb-3">
          <div
            routerLink="/enroll"
            class="bg-2 pb-5 rounded border border-white shadow-lg dates h-100 overflow-hidden"
          >
            <button
              type="button"
              class="mb-5 bg-warning rounded-2 w-100 text-light border border-danger py-1 fs-4"
            >
              {{ "diploma.5% Discount on Eid Al-Fitr" | translate }}
            </button>
            <h5 class="my-3">
              <span class="span-h3 px-1 py-5 rounded">{{
                "diploma.second" | translate
              }}</span>
            </h5>
            <p>
              <span>{{ "diploma.Start" | translate }} : </span
              ><i class="mx-1 fa-solid fa-calendar-days"></i
              >{{ "diploma.1 April,2025" | translate }}
            </p>
            <p>
              <span>{{ "diploma.Duration" | translate }} : </span>
              {{ "diploma.2 months" | translate }}
            </p>
            <p>
              <span>{{ "diploma.Exam Date" | translate }} : </span
              ><i class="mx-1 fa-solid fa-calendar-days"></i
              >{{ "diploma.1 June,2025" | translate }}
            </p>
            <p class="fs-4 yellow">
              {{ "diploma.Eid Mubarak" | translate }}
              <img
                width="100px"
                class="rounded-circle"
                src="./assets/images/eid.png"
                alt="Eid Mubarak image"
              />
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 height-date mb-3">
          <div
            routerLink="/enroll"
            class="bg-3 py-5 rounded border border-white shadow-lg dates h-100 overflow-hidden"
          >
            <h5 class="my-3">
              <span class="span-h3 px-1 py-5 rounded">{{
                "diploma.Third" | translate
              }}</span>
            </h5>
            <p>
              <span>{{ "diploma.Start" | translate }} : </span
              ><i class="mx-1 fa-solid fa-calendar-days"></i
              >{{ "diploma.1 July,2025" | translate }}
            </p>
            <p>
              <span>{{ "diploma.Duration" | translate }} : </span>
              {{ "diploma.2 months" | translate }}
            </p>
            <p>
              <span>{{ "diploma.Exam Date" | translate }} : </span
              ><i class="mx-1 fa-solid fa-calendar-days"></i
              >{{ "diploma.1 september,2025" | translate }}
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 height-date mb-3">
          <div
            routerLink="/enroll"
            class="bg-4 py-5 rounded border border-white shadow-lg dates h-100 overflow-hidden"
          >
            <h5 class="my-3">
              <span class="span-h3 px-1 py-5 rounded">{{
                "diploma.Fourt" | translate
              }}</span>
            </h5>
            <p>
              <span>{{ "diploma.Start" | translate }} : </span
              ><i class="mx-1 fa-solid fa-calendar-days"></i
              >{{ "diploma.1 October,2025" | translate }}
            </p>
            <p>
              <span>{{ "diploma.Duration" | translate }} : </span>
              {{ "diploma.2 months" | translate }}
            </p>
            <p>
              <span>{{ "diploma.Exam Date" | translate }} : </span
              ><i class="mx-1 fa-solid fa-calendar-days"></i
              >{{ "diploma.1 December,2025" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
