<div class="pt-5 mt-3">
  <section class="container text-center pt-5 mb-3 mt-5">
    <owl-carousel-o [options]="students">
      <ng-template carouselSlide>
        <div
          class="rounded-5 test-prag-width mx-auto border-castome shadow-lg p-4"
        >
          <div class="title">
            <h2 class="mt-2 text-decoration-underline sec-color">
              {{ "test.Testimonials" | translate }}
            </h2>
            <p class="main-color">
              {{ "test.(Reviews Of Our Students)" | translate }}
            </p>
          </div>

          <div class="border-top border-black border-2">
            <img
              class="rounded-circle imago d-inline translate"
              src="./assets/images/ava/avatar-01.jpg"
              alt="students image"
            />
          </div>
          <div class="rounded-5 bg-light py-5 px-3 shadow-lg">
            @if (LangText()) {
            <p class="text-start">
              {{
                "test.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatur! Unde, soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatusolut."
                  | translate
              }}
            </p>
            } @if (!LangText()) {
            <p class="text-end">
              {{
                "test.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatur! Unde, soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatusolut."
                  | translate
              }}.
            </p>
            }
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="rounded-5 test-prag-width mx-auto testmonial p-4">
          <div class="title">
            <h2 class="mt-2 text-decoration-underline sec-color">
              {{ "test.Testimonials" | translate }}
            </h2>
            <p class="main-color">
              {{ "test.(Reviews Of Our Students)" | translate }}
            </p>
          </div>

          <img
            class="rounded-circle imago d-inline translate"
            src="./assets/images/ava/avatar-02.jpg"
            alt="students image"
          />
          <div class="rounded-5 bg-light p-5">
            @if (LangText()) {
            <p class="text-start">
              {{
                "test.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatur! Unde, soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatusolut."
                  | translate
              }}
            </p>
            } @if (!LangText()) {
            <p class="text-end">
              {{
                "test.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatur! Unde, soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatusolut."
                  | translate
              }}.
            </p>
            }
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="rounded-5 test-prag-width mx-auto testmonial p-4">
          <div class="title">
            <h2 class="mt-2 text-decoration-underline sec-color">
              {{ "test.Testimonials" | translate }}
            </h2>
            <p class="main-color">
              {{ "test.(Reviews Of Our Students)" | translate }}
            </p>
          </div>

          <img
            class="rounded-circle imago d-inline translate"
            src="./assets/images/ava/chefs3.webp"
            alt="students image"
          />
          <div class="rounded-5 bg-light p-5">
            @if (LangText()) {
            <p class="text-start">
              {{
                "test.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatur! Unde, soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatusolut."
                  | translate
              }}
            </p>
            } @if (!LangText()) {
            <p class="text-end">
              {{
                "test.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatur! Unde, soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatusolut."
                  | translate
              }}.
            </p>
            }
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="rounded-5 test-prag-width mx-auto testmonial p-4">
          <div class="title">
            <h2 class="mt-2 text-decoration-underline sec-color">
              {{ "test.Testimonials" | translate }}
            </h2>
            <p class="main-color">
              {{ "test.(Reviews Of Our Students)" | translate }}
            </p>
          </div>

          <img
            class="rounded-circle imago d-inline translate"
            src="./assets/images/ava/avatar-04.jpg"
            alt="students image"
          />
          <div class="rounded-5 bg-light p-5">
            @if (LangText()) {
            <p class="text-start">
              {{
                "test.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatur! Unde, soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatusolut."
                  | translate
              }}
            </p>
            } @if (!LangText()) {
            <p class="text-end">
              {{
                "test.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatur! Unde, soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatusolut."
                  | translate
              }}.
            </p>
            }
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="rounded-5 test-prag-width mx-auto testmonial p-4">
          <div class="title">
            <h2 class="mt-2 text-decoration-underline sec-color">
              {{ "test.Testimonials" | translate }}
            </h2>
            <p class="main-color">
              {{ "test.(Reviews Of Our Students)" | translate }}
            </p>
          </div>

          <img
            class="rounded-circle imago d-inline translate"
            src="./assets/images/ava/chefs8.jpg"
            alt="students image"
          />
          <div class="rounded-5 bg-light p-5">
            @if (LangText()) {
            <p class="text-start">
              {{
                "test.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatur! Unde, soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatusolut."
                  | translate
              }}
            </p>
            } @if (!LangText()) {
            <p class="text-end">
              {{
                "test.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatur! Unde, soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatusolut."
                  | translate
              }}.
            </p>
            }
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="rounded-5 test-prag-width mx-auto testmonial p-4">
          <div class="title">
            <h2 class="mt-2 text-decoration-underline sec-color">
              {{ "test.Testimonials" | translate }}
            </h2>
            <p class="main-color">
              {{ "test.(Reviews Of Our Students)" | translate }}
            </p>
          </div>

          <img
            class="rounded-circle imago d-inline translate"
            src="./assets/images/ava/avatar-06.jpg"
            alt="students image"
          />
          <div class="rounded-5 bg-light p-5">
            @if (LangText()) {
            <p class="text-start">
              {{
                "test.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatur! Unde, soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatusolut."
                  | translate
              }}
            </p>
            } @if (!LangText()) {
            <p class="text-end">
              {{
                "test.Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatur! Unde, soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum nulla exercitationem inventore temporibus reprehenderit nisi impedit aspernatusolut."
                  | translate
              }}.
            </p>
            }
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </section>
</div>
