.translate {
  transform: translateY(40%);
}
.imago {
  width: 100px !important;
}
.imago-girl {
  width: 100px !important;
  height: 100px !important;
}
/* media query */
@media (max-width: 992px) {
  .test-prag-width {
    max-width: 90%;
  }
}

@media (min-width: 992px) {
  .test-prag-width {
    max-width: 75%;
  }
}
@media (min-width: 1200px) {
  .test-prag-width {
    max-width: 50%;
  }
}
