.bg-main {
  width: 100%;
  height: 100vh;
}
.img-width {
  width: 100%;
}
.link-font {
  font-size: 10px;
  font-weight: 500;
}
@media (min-width: 450px) {
  .img-width {
    width: 60%;
  }
  .link-font {
    font-size: 10px;
    font-weight: 500;
  }
}
@media (min-width: 768px) {
  .img-width {
    width: 45%;
  }
  .link-font {
    font-size: 15px;
    font-weight: 500;
  }
}
@media (min-width: 992px) {
  .img-width {
    width: 30%;
  }
  .link-font {
    font-size: 20px;
    font-weight: 500;
  }
}
