@media (max-width: 550px) {
  .home-content {
    width: 90%;
  }
  h1 {
    font-weight: 500;
    font-size: 20px;
  }
  h2 {
    font-weight: 500;
    font-size: 15px;
  }
  .col-3 h6 {
    font-weight: 300;
    font-size: 13px;
  }
}
.bg-main-dark {
  display: block;
}
/* media query */
@media (min-width: 550px) {
  .home-content {
    width: 70%;
  }
  h1 {
    font-weight: 700;
    font-size: 25px;
  }
  h2 {
    font-weight: 500;
    font-size: 20px;
  }
  .col-3 h6 {
    font-weight: 300;
    font-size: 16px;
  }
  .bg-main-dark {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wordy {
    padding-inline: 10px;
  }
}
@media (min-width: 995px) {
  .home-content {
    width: 50%;
  }
  h1 {
    font-weight: 700;
    font-size: 30px;
  }
  h2 {
    font-weight: 500;
    font-size: 25px;
  }
  .col-3 h6 {
    font-weight: 300;
    font-size: 20px;
  }
}
