@if (allingradiants) {
<div class="py-md-5 py-lg-0 py-xxl-3">
  <section class="py-5 text-center">
    <div class="content container-fluid py-5">
      <div class="row g-4">
        @for (ingra of this.allingradiants; track $index) {
        <div
          [routerLink]="['/oneingradiant', ingra.strIngredient]"
          class="col-md-6 col-lg-4 col-xl-3"
        >
          <div
            class="rounded border border-danger-subtle p-3 bg-item shadow h-100"
          >
            <h3 class="h5 sec-color-weight">{{ ingra.strIngredient }}</h3>
          </div>
        </div>
        }
      </div>
    </div>
  </section>
</div>
}
