<div class="py-5">
  <section class="achievements py-5">
    <div class="title text-center py-4 mt-4">
      <h2 class="sec-color text-decoration-underline">
        {{ "achive.Our Achievements" | translate }}
      </h2>
    </div>
    <div class="container pb-5">
      <div class="row">
        <div class="col-lg-6 pb-5">
          <ul class="p-0">
            <li class="pb-3">
              <h3 class="span-h3 py-2 fs-3 rounded-5 text-center">
                <i class="fa fa-trophy"></i>
                {{ "achive.We Are Winners of 50 Competitions." | translate }}
              </h3>
              <p class="prag">
                {{
                  "achive.Salami corned beef short loin sausage meatloaf fatback andouille kielbasa frankfurter sirloin alcatra beef ribs."
                    | translate
                }}
              </p>
            </li>

            <li class="py-3">
              <h3 class="span-h3 py-2 fs-3 rounded-5 text-center">
                <i class="fa-solid fa-users"></i>
                {{ "achive.27 Professional Chefs-Trainers." | translate }}
              </h3>
              <p class="prag">
                {{
                  "achive.Salami corned beef short loin sausage meatloaf fatback andouille kielbasa frankfurter sirloin alcatra beef ribs."
                    | translate
                }}
              </p>
            </li>

            <li class="pt-3">
              <h3 class="span-h3 py-2 fs-3 rounded-5 text-center">
                <i class="fa fa-hourglass-2"></i>
                {{ "achive.Guaranteed Fast Employment." | translate }}
              </h3>
              <p class="prag">
                {{
                  "achive.Salami corned beef short loin sausage meatloaf fatback andouille kielbasa frankfurter sirloin alcatra beef ribs."
                    | translate
                }}
              </p>
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <img
            class="w-100 rounded shadow-lg border-castome"
            height="500px"
            src="./assets/images/new/acheve.png"
            alt="our achievements image"
          />
        </div>
      </div>
    </div>
  </section>
</div>
