@if (mealdetails) {
<div class="bg-main py-5">
  <section class="py-1">
    <div class="content container-fluid py-5">
      <div class="row g-4">
        <div class="col-md-4">
          <div>
            <img
              src="{{ mealdetails.strMealThumb }}"
              class="w-100 rounded border-castome"
              alt="{{ mealdetails.strMeal }}"
            />
            <h3
              class="bg-header-galeey mt-3 py-3 rounded text-center border-castome"
            >
              {{ mealdetails.strMeal }}.
            </h3>
          </div>
        </div>
        <div class="col-md-8">
          <div>
            <h4 class="sec-color mb-3 text-decoration-underline">
              {{ "details.Instructions" | translate }}
            </h4>
            <p class="prag">
              {{ mealdetails.strInstructions }}
            </p>
            <h4 class="mb-3 prag">
              <span class="sec-color text-decoration-underline">
                {{ "details.Area" | translate }} :</span
              >
              <span
                [routerLink]="['/onearea', mealdetails.strArea]"
                class="router-word px-2"
              >
                {{ mealdetails.strArea }}</span
              >
            </h4>
            <h4 class="mb-3 prag">
              <span class="sec-color text-decoration-underline">
                {{ "details.Category" | translate }} :</span
              >
              <span
                [routerLink]="['/onecategory', mealdetails.strCategory]"
                class="router-word px-2"
                >{{ mealdetails.strCategory }}</span
              >
            </h4>
            <h4 class="mb-3 sec-color text-decoration-underline">
              {{ "details.Recipes" | translate }} :
            </h4>
            <ul class="d-flex flex-wrap align-items-center">
              @for (Ingredient of allIngredients; track $index) { @if(
              Ingredient){
              <li class="bg-primary-subtle me-3 mt-3 rounded">
                {{ Ingredient }}
              </li>
              } }
            </ul>
            <div>
              <h4 class="sec-color text-decoration-underline mb-3">
                {{ "details.Vedio" | translate }}:
              </h4>
              <a [href]="mealdetails.strYoutube"
                ><button class="p-3 rounded border border-danger meal-desc">
                  {{ "details.youtube" | translate }}
                </button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
}
