:root {
  --font-family: "Playwrite DE Grund", cursive;
  --main-color: rgb(129, 102, 70);
  --sec-color: #405d72;
  --sec-color-main: #405d72;
  --btn-main: #405d72;
  --danger: rgb(246, 110, 110);
  --yellow: rgb(252, 216, 175);
  --primary-glassy-bg: rgba(116, 91, 84, 0.7);
  --body-bg: rgba(184, 152, 145, 0.3);
  --navbar-bg: rgba(244, 230, 228, 0.6);
  --nav-link: rgb(75, 60, 43);
  --nav-linkactive: rgb(247, 223, 196);
  --bg-main-dark: #f7e7dc;
  --span-h3: rgba(64, 93, 114, 0.8);
  --spanh3-color: var(--white);
  --bg-main-galssy: rgba(255, 255, 255, 0.5);
  --main-h2: rgb(25, 61, 88);
  --main-h2-sec: rgb(74, 74, 74);
  --color-light: #fff;
  --testmonial: rgba(147, 200, 235, 0.5);
  --white: white;
  --footer-header-modal: rgb(236, 152, 172);
  --btn-navs: rgba(147, 200, 235, 0.5);
  --constant-color: rgba(31, 49, 62);
  --router-word-color: rgb(230, 116, 142);
  --invoice: rgba(255, 144, 170, 0.3);
  /* --router-word-hover: #0e558b; */
  --router-word-hover: rgba(93, 137, 170, 0.9);
  --gray: rgba(210, 209, 209, 0.4);
  --bony-mahrok: rgba(114, 88, 75, 0.5);
  --bony: rgba(239, 202, 189, 0.3);
  --bg-home: rgba(244, 167, 140, 0.4);
  --bg-main: transparent;
  --words: rgb(13, 58, 90);
  --cat-border: rgb(62, 60, 96);
  --emoji-color: rgb(207, 91, 118);
  --home-line: rgb(46, 17, 0);
}
body,
.chefs-bg {
  font-family: var(--font-family) !important;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--body-bg)),
      to(var(--body-bg))
    ),
    url(./assets/images/footer.png);
  background-image: -o-linear-gradient(var(--body-bg), var(--body-bg)),
    url(./assets/images/footer.png);
  background-image: linear-gradient(var(--body-bg), var(--body-bg)),
    url(./assets/images/footer.png);
}
.btn-nav {
  background-color: var(--btn-navs);
}
.navbar-toggler,
.form-check-input {
  box-shadow: none !important;
  border: var(--nav-link) solid 2px !important;
  background-color: rgba(247, 79, 41, 0.3) !important;
}
.modal-bg {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--body-bg)),
      to(var(--body-bg))
    ),
    url(./assets/images/footer.png);
  background-image: -o-linear-gradient(var(--body-bg), var(--body-bg)),
    url(./assets/images/footer.png);
  background-image: linear-gradient(var(--body-bg), var(--body-bg)),
    url(./assets/images/footer.png);
}
.modal-backdrop {
  --bs-backdrop-zindex: 200 !important;
}
.modalfooter-bg,
.modalheader-bg {
  background-color: var(--footer-header-modal);
}
.border-castome {
  border: solid var(--cat-border) 2px;
}
.emojii {
  color: var(--emoji-color);
}
/* --footer-header-modal */
.home {
  width: 100%;
  height: 100vh;
  background-image: url(./assets/images/jjjj.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar {
  font-family: var(--font-family) !important;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--navbar-bg)),
      to(var(--navbar-bg))
    ),
    url(./assets/images/footer.png);
  background-image: -o-linear-gradient(var(--navbar-bg), var(--navbar-bg)),
    url(./assets/images/footer.png);
  background-image: linear-gradient(var(--navbar-bg), var(--navbar-bg)),
    url(./assets/images/footer.png);
  border-bottom: solid 1px rgb(97, 71, 42);
}
.router-word {
  color: var(--router-word-color) !important;
  font-weight: 700;
  transition: all 1s;
}
.router-word:hover {
  color: var(--router-word-hover) !important;
  font-weight: 700;
}
.yellow {
  color: var(--yellow) !important;
}
.danger {
  color: var(--danger) !important;
}
.button-off {
  color: var(--constant-color);
}
h2,
.main-color {
  color: var(--main-color);
}
.footer {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--primary-glassy-bg)),
      to(var(--primary-glassy-bg))
    ),
    url(./assets/images/footer1.png);
  background-image: -o-linear-gradient(
      var(--primary-glassy-bg),
      var(--primary-glassy-bg)
    ),
    url(./assets/images/footer1.png);
  background-image: linear-gradient(
      var(--primary-glassy-bg),
      var(--primary-glassy-bg)
    ),
    url(./assets/images/footer1.png);
  color: white !important;
  font-weight: 500;
  font-size: 15px;
}
/* color */
.sec-color {
  color: var(--sec-color);
  font-weight: 700;
  font-size: 28px;
}
.sec-color-weight {
  color: var(--sec-color);
  font-weight: 700;
  font-size: 25px;
}
.sec-color-main {
  color: var(--sec-color-main) !important;
  font-weight: 700;
  font-size: 28px;
}
.home-exam {
  color: var(--home-line);
}
/* bg-color */
.bg-item {
  background-color: var(--bg-main);
}
.bg-danger-fateh {
  background-color: rgba(245, 230, 230, 0.7);
}
.bg-main-dark {
  background-color: var(--bg-main-dark);
}
.bg-header-galeey {
  background-color: var(--sec-color-main);
  color: white;
  font-weight: 700;
  font-size: 30px;
}
.span-h3 {
  background-color: var(--span-h3);
  color: var(--spanh3-color);
  font-weight: 700;
  font-size: 30px;
}
.bg-main-glassy {
  background-color: var(--bg-main-galssy);
}
/* bg-image */
.bg-1 {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url(./assets/images/k9.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/images/k9.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/images/k9.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-2 {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url(./assets/images/k10.webp);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/images/k10.webp);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/images/k10.webp);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-3 {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.6)),
      to(rgba(0, 0, 0, 0.6))
    ),
    url(./assets/images/k12.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./assets/images/k12.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./assets/images/k12.jpg);

  /* background-image: url(./assets/images/bg-3.png); */
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-4 {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.4)),
      to(rgba(0, 0, 0, 0.4))
    ),
    url(./assets/images/k15.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./assets/images/k15.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./assets/images/k15.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
/* decoration */
.bg-maro {
  font-family: var(--font-family) !important;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--bg-home)),
      to(var(--bg-home))
    ),
    url(./assets/images/footer.png);
  background-image: -o-linear-gradient(var(--bg-home), var(--bg-home)),
    url(./assets/images/footer.png);
  background-image: linear-gradient(var(--bg-home), var(--bg-home)),
    url(./assets/images/footer.png);
  border-bottom: solid 1px rgb(97, 71, 42);
}
.bg-invoice {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--invoice)),
      to(var(--invoice))
    ),
    url(./assets/images/footer.png);
  background-image: -o-linear-gradient(var(--invoice), var(--invoice)),
    url(./assets/images/footer.png);
  background-image: linear-gradient(var(--invoice), var(--invoice)),
    url(./assets/images/footer.png);
  /* color: white; */
}
h1,
.logo-nav {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--main-h2)),
    color-stop(65%, var(--main-h2-sec))
  );
  background-image: -o-linear-gradient(
    var(--main-h2) 0% 60%,
    var(--main-h2-sec) 65% 100%
  );
  background-image: linear-gradient(
    var(--main-h2) 0% 60%,
    var(--main-h2-sec) 65% 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.box-h1 {
  -webkit-box-shadow: 0 0 10px 10px var(--gray) inset !important;
  box-shadow: 0 0 10px 10px var(--gray) inset !important;
  border: solid var(--bony-mahrok);
  background-color: var(--bony);
}
/* setting */
.social-layer {
  right: 0;
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.card-img-top {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.card-img-top:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.card:hover .social-layer {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
ul {
  list-style: none;
}
::marker {
  color: var(--danger);
}
/* cursor: pointer */
.cr,
a,
.nav-item {
  cursor: pointer;
}
.dates {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.dates:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
/* btn */
.btn-active {
  background-color: var(--btn-main);
  padding: 7px 20px;
  border: 1px solid var(--btn-main);
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.btn-main,
.btn-main:hover,
.btn-main:focus {
  background-color: var(--btn-main);
  padding: 7px 20px;
  border: 1px solid var(--btn-main);
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
.form-control {
  line-height: 2 !important;
}
.testmonial {
  background-color: var(--testmonial);
}
.text-red {
  color: red !important;
}
button,
li,
a {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social,
.nav-link {
  -webkit-transition: unset !important;
  -o-transition: unset !important;
  transition: unset !important;
}
/* media query */
@media (min-width: 1300px) {
  .social,
  .nav-link {
    font-weight: 500;
    font-size: 20px;
  }
}
.margin-b {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .margin-b {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
::placeholder {
  color: rgba(54, 87, 111, 0.8) !important;
  font-weight: 500;
}
.form-control.placehold {
  box-shadow: none !important;
  border: none !important;
}
.words {
  color: var(--words) !important;
  font-weight: 700;
  font-size: larger;
}
.darkmood {
  --primary-glassy-bg: rgba(39, 27, 21, 0.5);
  --body-bg: rgba(21, 8, 1, 0.8);
  --gray: rgba(145, 123, 111, 0.7);
  /* --span-h3: rgba(191, 140, 112, 0.7); */
  /* --spanh3-color: rgb(243, 215, 183); */
  --bony-mahrok: rgba(29, 27, 26, 0.7);
  --bony: rgba(45, 39, 36, 0.5);
  --bg-home: rgba(63, 52, 46, 0.7);
  --navbar-bg: rgba(63, 52, 46, 0.8);
  --main-h2-sec: rgba(255, 255, 255, 0.7);
  --main-h2: rgb(83, 172, 240);
  --nav-link: rgb(230, 214, 214);
  --nav-linkactive: rgb(243, 215, 183);
  --footer-header-modal: rgba(191, 140, 112, 0.4);
  --sec-color: rgb(242, 245, 205);
  --danger: rgb(255, 140, 167); /*2 color  red and yellow*/
  --testmonial: rgb(40, 51, 59, 0.9);
  --main-color: rgb(246, 198, 144);
  /* --sec-color-main: rgba(64, 93, 114, 0.9); */
  --bg-main-dark: rgba(87, 88, 90, 0.5);
  --bg-main-galssy: rgba(63, 52, 46, 0.7);
  --btn-navs: white;
  /* --bg-main: rgba(191, 140, 112, 0.7); */
  --router-word-color: rgb(255, 140, 167);
  --router-word-hover: #9ad1fb;
  --words: rgba(149, 205, 249, 0.9);
  --invoice: rgba(64, 93, 114, 0.5);
  --cat-border: black;
  --emoji-color: rgba(149, 205, 249, 0.9);
  --home-line: rgb(255, 238, 219);
  .prag {
    color: white !important;
  }
}
